<h3 id="header">Drab Tests</h3>

<div id="begin"></div>
<div id="drab_pid"></div>

<p>
  This application is for debugging and testing Drab.
</p>

If you started it with <code>iex -S mix phoenix.server</code>, you may debug Drab functions in IEx by following the instruction in the console:
<pre>
[debug]
    Started Drab for /, handling events in DrabTestApp.PageCommander
    You may debug Drab functions in IEx by copy/paste the following:
import Drab.{Core, Query, Modal, Waiter}s
socket = Drab.get_socket(pid("HERE BE PID"))
</pre>


    Examples:
<pre>
socket |> select(:htmls, from: "h3")
socket |> exec_js("alert('hello from IEx!')")
socket |> alert("Title", "Sure?", buttons: [ok: "Azaliż", cancel: "Poniechaj"])
</pre>

<hr>

Pages for Integration Tests: <br>
<a href="/tests/core">Drab.Core</a><br>
<a href="/tests/naked">Drab.Core only (naked Drab) + lone Commander</a><br>
<a href="/tests/query">Drab.Query</a><br>
<a href="/tests/modal">Drab.Modal</a><br>
<a href="/tests/waiter">Drab.Waiter</a><br>
<a href="/tests/browser">Drab.Browser</a><br>
<a href="/tests/live">Drab.Live</a><br>
<a href="/tests/live/form">Drab.Live and form</a><br>
<a href="/tests/live/form_for">Drab.Live and form_for</a><br>
<a href="/tests/live/partials">Partials and HTML injecting</a><br>
<a href="/tests/live/query">Drab.Live + Drab.Query</a><br>
<a href="/tests/live/table">Drab.Live and html table</a><br>
<a href="/tests/live/advanced">Drab.Live advanced tests</a><br>
<a href="/tests/element">Drab.Element</a><br>
<br>
<a href="/tests/broadcast1">Broadcasting to the same URL (default)</a><br>
<a href="/tests/broadcast2">Broadcasting to the same controller</a><br>
<a href="/tests/broadcast2/different_url"> -> Different url in the same controller</a><br>
<a href="/tests/broadcast3">Broadcasting to specific topic</a><br>
<a href="/tests/broadcast4">Broadcasting to specific topic - different controller</a><br>
<a href="/tests/broadcast5">Broadcasting to all of the above</a><br>
<br>

