<div id="begin"></div>
<div id="drab_pid"></div>


<div id="select1_div"                    class="select_div" test_attr="attr1" data-test="test_data"><b>text in select1_div</b></div>
<div id="select2_div" name="select2_div" class="select_div" test_prop="prop2">text in select2_div</div>
<div                                     class="select_div">text in select3_div</div>
<br>

<input type="input"   id="select1_input" class="select_input" value="select1 value">
<input type="input" name="select2_input" class="select_input" value="select2 value">
<input type="input"                      class="select_input" value="select3 value">
<br>
