<h3 id="header">Drab Tests</h3>

<div id="begin"></div>
<div id="drab_pid"></div>

<div id="run_handler_test"></div>

<br>
<div drab-commander="DrabTestApp.LoneCommander">
  <button id="exec_lone_handler" drab-click="DrabTestApp.LoneCommander.lone_handler" drab-change="DrabTestApp.LoneCommander.other_handler">
    DrabTestApp.LoneCommander.lone_handler/2
  </button>

  <button id="exec_lone_handler_2" drab-click="lone_handler" drab-change="other_handler">
    lone_handler/2 under drab-commander="DrabTestApp.LoneCommander"
  </button>
</div>

<br>
<button id="outside_drab_commander" drab-click="run_handler_test">
  Handler in my own Commander
</button>

<br>
<button id="exec_non_public_handler" drab-click="DrabTestApp.LoneCommander.non_public_handler">
  DrabTestApp.LoneCommander.non_public_handler/2
</button>

<br>
<button id="exec_nonexisting_handler" drab-click="DrabTestApp.LoneCommander.nonexisting_handler">
  DrabTestApp.LoneCommander.nonexisting_handler/2
</button>

<br>
<button id="exec_fake_handler" drab-click="DrabTestApp.FakeCommander.fake_handler">
  DrabTestApp.FakeCommander.fake_handler/2
</button>

