Time:
<div id="my_time"><%= @time %></div>
<br>

Sender:
<div id="my_sender">-</div>
<br>

<button type="button" class="btn btn-sm btn-primary z-depth-0" onclick="Drab.exec_elixir('DrabTestApp.LiveCommander.test_update', {sender: 'button'})">Update</button>

<button type="button" class="btn btn-sm btn-primary z-depth-0" drab-click="test_update({sender: 'button'})">Update 2</button>

<%= select(:form, :item, 1..3, drab: "change:DrabTestApp.LiveCommander.test_update({sender: 'menu'})")%>
