<div id="begin"></div>
<div id="drab_pid"></div>


<div id="select1_div"                    class="select_div" test_attr="attr1" data-test="test_data"><b>text in select1_div</b></div>
<div id="select2_div" name="select2_div" class="select_div another" test_prop="prop2">text in select2_div</div>
<div                                     class="select_div">text in select3_div</div>
<br>

<input type="input"   id="select1_input" class="select_input" value="select1 value">
<input type="input" name="select2_input" class="select_input" value="select2 value">
<input type="input"                      class="select_input" value="select3 value">
<br>

<div id="insert_wrapper">
  <div id="insert1_div">Insert DIV</div>
</div>
<br>

<div id="delete1_div" class="class1 class2">Delete DIV</div>
<br>

<input type="text" id="execute1_input">
<br>

<br>
<button id="data_test_button" drab-click="sender_test" data-integer="42" data-string="string">
Test Sender
</button>
<div id="data_test_div_out1"></div>
<div id="data_test_div_out2"></div>
